*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-color: #fcf6e9;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.6rem;
}

#container{
    display: grid;
    grid-template-rows: 60vh min-content min-content;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content,14rem)[col-end]) [center-end] 1fr [full-end];
} 

#container-post{
    display: grid;
    grid-template-rows: 60vh min-content min-content min-content min-content;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content,14rem)[col-end]) [center-end] 1fr [full-end];
}