.blog-header{
    grid-column: full-start / full-end;
    grid-row: 1 / 2;

    background-image:linear-gradient(
        to right bottom,
        rgba(255, 245, 226, 0.8),
        rgba(254, 231, 186, 0.8)), url(./../images/header.jpg); 

            /* rgba(247, 236, 190, 0.803), rgba(238, 220, 159, 0.8))*/
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;

    display: grid;
    grid-template-rows: 10rem 30rem;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content,14rem)[col-end]) [center-end] 1fr [full-end];

}
nav{
    display: flex;
    justify-content: space-between;
    grid-column: center-start / center-end;
    grid-row: 1 / 2;

    
}
.header_navbar{
    margin:3rem 5rem;
    font-weight: 600;
    
}

.link-header{
   font-size: 2rem;
   padding: 1rem; 
   transition: all .3s ;
}
.link-header:link,
.link-header:visited{
    color: #8c6312;
    text-decoration: none;
}
.link-header:hover,
.link-header:active,
.link-header:focus{
    color: #e49903;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);

    outline: none;
}

.header_navbar-item{
    padding: 1rem;
    margin-left: 1rem;
}

.title{
    margin-top: 4rem;
    text-align: center;
    font-size: 2.3rem;

    grid-column: center-start / center-end;
    grid-row: 2 / -1;
    
}
.blog-title{
    color: #e49903;

}
.blog-title-text,
.post-title-text{
    font-weight: 300;
}

