article {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
}

.post_card {
    width:95%;
    margin: 8rem auto ;
    border:none;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(106, 103, 103, 0.1);
    background-size: cover;
    background-position:center;
}

.post-card_box {
    width: 50%;
    padding: 6rem;
    color: #855b2b;
    font-size: 2rem;
}

.post_card_box-heading,
.post_card_box-text {
    padding-bottom: 2rem;
}

.post_card_box-date {
    font-style: italic;   
}

.post-link:link,
.post-link:visited {
    color: #855b2b;
    text-decoration: none;
}

.post_card-button,
.post_card-button:link,
.post_card-button:visited {
    background-color: #855b2b;
    color: #fae7d6;
    border: none;
    border-radius: 20px;
    margin:4rem 0 0;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    display: block;
    width: 20rem;
    box-shadow: 0 .4rem .5rem rgba(0, 0, 0, .2);
}

.post_card-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(65, 10, 10, 0.2);
}

.post_card-button:active {
    transform: scale(.98);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.post_card_swiss {
    background-image: linear-gradient(105deg,
                    rgba(234, 221, 196, 0.9) 0%,
                    50%, transparent 50%),
                    url(./../images/swiss.jpg);/*Photo by Chris Holgersson on Unsplash*/
}

.post_card_poland {
    background-image: linear-gradient(105deg,
                    rgba(234, 221, 196, 0.9) 0%,
                    50%, transparent 50%),
                    url(./../images/poland.jpg);/*Photo by Kamil Gliwiński on Unsplash*/  
}
.post_card_usa {
    background-image: linear-gradient(105deg,
                    rgba(234, 221, 196, 0.9) 0%,
                    50%, transparent 50%),
                    url(./../images/usa.jpg);/*Photo by Luca Bravo on Unsplash*/   
}
.post_card_norway {
    background-image: linear-gradient(105deg,
                    rgba(234, 221, 196, 0.9) 0%,
                    50%, transparent 50%),
                    url(./../images/norway.jpg);/*Photo by Lightscape on Unsplash*/   
}

.blog_text-box-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 8rem;
}

.post_text-box-btn{
    margin: 2rem 0 0 5rem;
}

.post_text-btn,
.post_text-btn:link,
.post_text-btn:visited{
    color: #855b2b;
    text-decoration: none;
    padding: 4px 3px;
    border-bottom: 2px solid #855b2b;
    transition: all .2s;
}

.post_text-btn:hover{
    color: #fae7d6;
    background-color: #855b2b;
    border: none;
    border-radius: 20px;
    padding: .5rem 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.post_text-btn:active{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
