/*  ################         AUTHOR         ############# */
.author{
    
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
    font-family: 'Josefin Sans', sans-serif;
    margin: 5rem 0 2rem;
    padding: 5rem;
}
.author_shape{
    width: 15rem;
    height: 15rem;
    margin: 2rem ;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transform: translateX(-2rem);
    overflow: hidden;
    border-radius: 50%;

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

}
.author_shape-img{
    width: 100%;
    backface-visibility: hidden;
}
.author_text{
padding-top: 2rem;
}
.author_text-company{
    padding-bottom: 1rem;
}

/*  ################         POST CONTENT        ############# */

article{
    grid-column: center-start / center-end;
    grid-row: 3 / 4;
}
.break-line{
    width: 30rem;
    height: 1px;
    border-top: 1px solid rgb(203, 199, 199);
    margin: 0 auto 5rem;
}

.post-content{
    margin-bottom: 10rem;
}
.about_heading{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 3rem;
}
.about_text{
    text-align: justify;
}