.post-footer{
    grid-column: full-start / full-end;
    grid-row: 4 /-1;

    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content,14rem)[col-end]) [center-end] 1fr [full-end];
}
.footer-media{
    grid-column: center-start / center-end;
    grid-row: 1 /2;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social{
    /* min-width:30rem; */
    padding: 5rem;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.footer_heading{
    text-align: center;
    margin-bottom: 5rem;
}

.social_icon{
    width: 5rem;
    margin: 1rem;
    display: inline-block;
    transition: transform .2s;
}

.social_icon:hover{
    transform: scale(1.08);
}

.newsletter{
    padding: 5rem;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
}

.btn {
    font-size: 1.6rem;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    margin: .5rem;
    background-color: #f5eddc;
    color: #855b2b;
}

.newsletter_input {
    transition: all .2s;
}

.newsletter_input:focus {
    transform: scale(1.03);
    outline: none;
}

.newsletter_btn {
    display: block;
    transition: all .2s;
}

.newsletter_btn:hover,
.newsletter_btn:active {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.copyright {
    grid-column: center-start / center-end;
    grid-row: 2/-1;
    text-align: center;
    padding: 5rem 0;
}