/*  ################         AUTHOR         ############# */
#author{
    
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
    font-family: 'Josefin Sans', sans-serif;
    margin: 5rem 0 2rem;
    padding: 5rem;
}
.author_shape,
.triva_shape{
    width: 15rem;
    height: 15rem;
    margin: 2rem ;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transform: translateX(-2rem);
    overflow: hidden;
    border-radius: 50%;

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

}
.author_shape-img{
    width: 100%;
    backface-visibility: hidden;
}
.author_text{
padding-top: 2rem;
}
.author_text-company{
    padding-bottom: 1rem;
}

/*  ################         POST CONTENT        ############# */

article{
    grid-column: center-start / center-end;
    grid-row: 3 / 4;
}
.break-line{
    width: 25%;
    height: 1px;
    border-top: 1px solid #dad7d0;
    margin: 0 auto ;
}

.post-content{
    margin-bottom: 10rem;
}
.content{
    padding: 5rem 3rem;
}
.post_heading{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    color: #724e24;
    /* border-bottom: 1px solid #724e24; */
}
.about_text{
    text-align: justify;
}

/* ###########      TRIVA SECTION CARDS     ########### */
.triva_card{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    padding: 5rem;
    border: 1px solid #f5eddc;
    border-radius: 15px;
    box-shadow: 0 1.5rem 4rem rgba(106, 103, 103, 0.1);
}
.triva_card:hover .triva_shape-caption{
    opacity: 1;
    transform: translate(-50%, -50%);
}

.triva_card:hover .triva_shape-img{
    transform: translateX(-4rem) scale(1.25);
    filter: blur(3px) brightness(80%);
}

.triva_shape-img{
    width: 160%;
    transform: translateX(-5rem) scale(1.1); 
    backface-visibility: hidden;
    transition: all .5s;
 }
.triva_shape-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #ffffff;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    
}


.triva_card-text{
    text-align: justify;
}


/* ###########      TOURIST SECTION CARDS     ########### */
.tourist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.tourist-card{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #f5eddc; 
    box-shadow: 0 1.5rem 4rem rgba(106, 103, 103, 0.1);
       
}
.tourist_img{
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/-1;
    z-index: 1;
}
.tourist_name{
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
    align-self: end;
    z-index:2;
    width: 80%;
    text-align: center;
    background-color:rgba(255, 245, 226, 0.8); 
    padding: 1.2rem;
    font-size: 1.6rem;  
}
.tourist_text{
    text-align: justify;
    padding: .5rem;
}